@import url(https://fonts.googleapis.com/css?family=Lato:300);

body{
    margin: 0;
    background-color: #ffeae3;
    font-family: Lato,sans-serif;

}

.year-header{
    color: white;
    font-family: sans-serif;
    padding-top: 60px;
    background-color: #ff867c;
    width: 50%;
    position: relative;
    display: flex;
    top: 50px;
    left: 25%;
    text-transform: uppercase;
    right: 25%;
}

.year-header__previous{
    padding-right: 40px;
    background-image: url("../assets/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.year-header__previous, .year-header__next {
    height: 30px;
    width: 1%;
    border:  none;
    position: absolute;
    background-color: white;
}

.year-header__next{
    float: right;
    background-image: url("../assets/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    padding-left: 40px;

}

.year-header__previous:hover, .year-header__next:hover{
    background-color: #e3e3e3;
    transition: all 300ms ease-in-out;
}

.year-header__year{
    font-size: 30px;
    position: relative;
    font-weight: 400;
    margin: auto;

}

.calendar-page-wrapper{
    color: darkslategray;
    position: relative;
    top: 20px;
    width: 50%;
    left: 25%;
    right: 25%;
}
.weekdays{
    font-size: 20px;
    margin-top: 29px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #ff867c;
    color: white;
    padding: 0;
}

.weekdays__weekday{
    padding: 40px 22px;
    width: calc(100% / 7);
}

.calendar-page{
    position: relative;
    color: #ff867c;
    width: 100%;
    margin-top:-20px;

}

.calendar-page__day{
    width:calc(100% / 7 - 1px);
    height: 80px;
    background-color: #ffff;
    float: left;
    text-align: center;
    border-left: solid 1px #f1e3e3;
    border-bottom: solid 1px #f1e3e3;
}


.calendar-page__day:hover{
    background-color: rgba(255, 134, 124, 0.56);
    color: white;

}

.other-month, .other-month:hover{
    background-color: #f0f0f0;
    color: #ff867c;}
